<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
//var_dump('ss');
?>
<?php
/**
 * Language switcher template
 */
?>

<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<div class="switcher language switcher-language">
    <strong class="label switcher-label hidden"><span><?php /* @escapeNotVerified */ echo __('Language') ?></span></strong>    
    <span class="switcher-title"><?php /* @escapeNotVerified */ echo __('Your Language : ') ?></span>
    <div class="selected">
        <strong class="view-<?php echo $block->escapeHtml($block->getCurrentStoreCode()) ?>">
            <span><?php echo $block->escapeHtml($block->getStoreName()) ?></span>
        </strong>
    </div>
    <ul class="sub-option">
    <?php foreach ($block->getStores() as $_lang): ?>
        <?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
            <li class="view-<?php echo $block->escapeHtml($_lang->getCode()); ?> switcher-option">
                <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getTargetStorePostData($_lang); ?>'>
                    <span class="flag-icon flag-icon-<?php echo $_lang->getCode() ?>"></span> <?php echo $block->escapeHtml($_lang->getName()) ?>
                </a>
            </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>

    </div>
<?php endif; ?>
