<div id="ves-header"class="ves-header">
	<?php echo $this->getChildHtml('skipToContent'); ?>
	<div class="row no-margin">
		<div class="col-md-2 col-sm-3 col-xs-5 custom-logo">
			<?php echo $this->getChildHtml("logo"); ?>
		</div>
		<div class="col-md-7 col-sm-5 col-xs-2">
			<?php echo $this->getChildHtml('catalog.topnav'); ?>
			<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fasony-megamenu')->toHtml();?>
            <?php echo $block->getLayout()->createBlock('Isobar\Megamenu\Block\Html\Topmega')->toHtml();?>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-7 mobile-link">
			<?php echo $this->getChildHtml('minicart'); ?>
			<?php echo $this->getChildHtml("topSearch"); ?>
			<?php echo $this->getChildHtml('setting_links') ?>
			<?php echo $this->getChildHtml('toplinks'); ?>
		</div>
	</div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

<script type="application/javascript">
    requirejs(['jquery'], function(jQuery){
        jQuery(document).ready(function () {

            "use strict";

            jQuery('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
            //Checks if li has sub (ul) and adds class for toggle icon - just an UI


            jQuery('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
            //Checks if drodown menu's li elements have anothere level (ul), if not the dropdown is shown as regular dropdown, not a mega menu (thanks Luka Kladaric)

            jQuery(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\"></a>");

            //Adds menu-mobile class (for mobile toggle menu) before the normal menu
            //Mobile menu is hidden if width is more then 959px, but normal menu is displayed
            //Normal menu is hidden if width is below 959px, and jquery adds mobile menu
            //Done this way so it can be used with wordpress without any trouble

            jQuery(".menu > ul > li").hover(function (e) {
                if (jQuery(window).width() > 943) {
                    jQuery(this).children("ul").stop(true, false).fadeToggle(150);
                    e.preventDefault();
                }
            });
            //If width is more than 943px dropdowns are displayed on hover

            jQuery(".menu > ul > li").hover(
                function (e) {
                    if (jQuery(window).width() > 943) {
                        jQuery(this).children("ul").stop(true, false).fadeIn(150);
                        e.preventDefault();
                    }
                }, function (e) {
                    if (jQuery(window).width() > 943) {
                        jQuery(this).children("ul").stop(true, false).fadeOut(150);
                        e.preventDefault();
                    }
                }
            );
            //If width is less or equal to 943px dropdowns are displayed on click (thanks Aman Jain from stackoverflow)

            jQuery(".menu-mobile").click(function (e) {
                jQuery(".menu > ul").toggleClass('show-on-mobile');
                e.preventDefault();
            });
            //when clicked on mobile-menu, normal menu is shown as a list, classic rwd menu story (thanks mwl from stackoverflow)

        });
    });


</script>