//Mega menu
.nav-sections{
  margin-bottom: 0;
}


/*
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
body {
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #333;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-toggle{
  display: none;
}

.menu-container {
  width: 100%;
  margin: 0 auto;
  background: @background-page-head;
}

.menu-mobile {
  display: none;
  padding: 20px;
  &:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
  }
}

.menu-dropdown-icon {
  &:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: @white;
    color: @background-block-title-fasony;
  }
}

.menu{
  > ul {
    /*min-width: @min-width-mega-menu__desktop;*/
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    //position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:  -1px;
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    > li {
      float: left;
      background: @background-page-head;
      padding: 0;
      margin: 0;
      a {
        text-decoration: none;
        padding: 1.5em 3em;
        display: block;
        color: @color-navigation-fasony;
        &:hover{
          color: @color-hover-active-footer-fasony;
        }
        &:active{
          color: @color-hover-active-footer-fasony;
        }
        &:visited{
          /* color: @color-hover-active-footer-fasony;*/
        }
      }
      &:hover {
        background: @background-menu-hover__fasony;
      }
      > div {
        display: none;
        width: 100%;
        background: @background-menu-hover__fasony;
        padding: 20px;
        position: absolute;
        z-index: 99;
        left: 0;
        margin: 0;
        list-style: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:before,
        &:after {
          content: "";
          display: table;
        }
        &:after {
          clear: both;
        }
        > ul {
          width: 70%;
          float: left;
          padding: 0;
          > li {
            margin: 0;
            padding-bottom: 0;
            list-style: none;
            width: 25%;
            background: none;
            float: left;
            a {
              color: #777;
              padding: .2em 0;
              width: 95%;
              display: block;
              border-bottom: 1px solid #ccc;
            }
            > ul {
              display: block;
              padding: 0;
              margin: 10px 0 0;
              list-style: none;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              &:before,
              &:after {
                content: "";
                display: table;
              }
              &:after {
                clear: both;
              }
              > li {
                float: left;
                width: 100%;
                padding: 10px 0;
                margin: 0;
                font-size: .8em;
                a {
                  border: 0;
                }
              }
            }
          }
        }
        > .menu-extend-html {
          width: 30%;
          float: right;
          color: @color-hover-active-footer-fasony;
          p{
            color: @color-hover-active-footer-fasony;
          }
        }
        > ul.full-width {
          width: 100%;
        }

        &.normal-sub {
          width: 300px;
          left: auto;
          padding: 10px 20px;
          > li {
            width: 100%;
            a {
              border: 0;
              padding: 1em 0;
            }
          }
        }
      }
    }
  }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: @screen__m) {
  .menu-container {
    width: 100%;
  }
  .menu-mobile{
    display: block;
    font-size: 0;
  }
  .menu-mobile2 {
    display: block;
    font-size: 0;
  }
  .menu-dropdown-icon {
    &:before {
      display: block;
    }
  }
  .menu {
    > ul {
      display: none;
      z-index: 10;
      > li {
        width: 100%;
        float: none;
        display: block;
        a {
          padding: 1.5em;
          width: 100%;
          display: block;
        }
        > ul {
          position: relative;
          &.normal-sub {
            width: 100%;
          }
          > li {
            float: none;
            width: 100%;
            margin-top: 20px;
            &:first-child {
              margin: 0;
            }
            > ul {
              position: relative;
              > li {
                float: none;
              }
            }
          }
        }
      }
    }
    .show-on-mobile {
      display: block;
    }
  }
}

@media only screen and (max-width: @screen__m) {
  .menu{
    >ul{
      min-width: 100% !important;
    }
  }
}

@media only screen and (max-width: @screen__s) {
  .menu{
    >ul{
      left: 0;
    }
  }
}

@media only screen and (min-width: @screen__xl) {
  .menu{
    ul{
      li{
        > div{
          min-width: @min-width-mega-menu-1440__desktop;
          left: @left-mega-menu-1440__desktop;
        }
        ul.normal-sub{
          min-width: @min-width-ul-normal-sub__desktop;
        }
      }
    }
  }
}

@media only screen and (max-width: @screen__m) {
  .menu{
    ul{
      li{
        div{
            min-width: 100%;
            left: 0;
          ul{
            width: 100%;
            li{
              width: 100%;
            }
          }
        }
        ul.normal-sub{
          min-width: 100%;
        }
        &:hover {
          /*background: @color-hover-active-footer-fasony;*/
        }
      }
    }
  }
}

@media only screen and (max-width: @screen__400) {
  .col-md-2{
    width: 100%;
    .logo{
      //width: 100%;
      text-align: center;
      margin: 0;
    }
  }
  .col-md-7{
    /*width: 100% !important;*/
    background: @background-page-head;
    float: right;
    .menu-mobile{
      /*width: 100%;*/
    }
    .show-on-mobile{
      top: 55px;
    }
  }
}
