//Customer Fasony
@media screen and (min-width: @screen__m) {
  .ves-showcase {
    .col-lg-33 {
      width: @width-fasony-col-3;
      float: left;
      margin-right: @margin-right-promise-sasa;
      &:nth-child(3){
        margin-right:  0;
      }
    }

    .col-lg-44 {
      width: @width-fasony-col-4;
      float: left;
    }
    .col-lg-66 {
      width: @width-fasony-col-6;
      float: left;
      &:nth-child(1){
        margin-right: 10px;
      }
    }

    .col-lg-66:nth-child(2n){
      margin-right: @margin-right-promise-sasa;
    }

    .col-md-22 {
      width: @width-col-sm-2;
      float: left;
    }
    .col-md-77 {
      width: @width-col-sm-7;
      float: left;
    }
  }

  .col-md-2 {
    width: @width-col-sm-2;
    float: left;
  }

  .col-md-7 {
    width: @width-col-sm-7;
    float: left;
  }

  .col-lg-3 {
    width: @width-col-sm-3;
    float: left;
  }
  .col-lg-6{
    width: @width-fasony-col-6;
    float: left;
  }
  .col-lg-4{
    width: @width-col-sm-4;
    float: left;
  }
}


//Footer Extend
.page-footer {
  .block{
    .block-title{
      margin: 10px 0px;
      padding: 15px 0px;
      >strong{
        color: @color-footer-fasony-block-title;
        font-size: @font-size-block-title-footer-fasony;
        font-weight: @font-weight-block-title-footer-fasonys;
        font-family: @font-family-navigation-fasony;
        text-transform: uppercase;
      }
    }
    .block.newsletter{
      .action.subscribe {
        background: @background-new-letter-footer;
        color: @color-navigation-fasony;
        font-size: @font-size-footer-fasony;
        text-transform: uppercase;
        border: 0;
        border-radius: 0;
      }
    }
  }
  .block-content{
    font-family: @family-name-footer-fasony;
    color: @color-footer-fasony;
    font-size: @font-size-footer-fasony;
    ul{
      padding-left:  0px;
    }
  }
  .contacts
  {
    padding-right: 0;
    padding-left: 0;
    li
    {
      margin: @margin-right-footer-fasony 0px !important;
      list-style: none;
      width: 100%;
      float: left;
    }

    .fa{
      border: 1px solid @border-fa-content-fasony;
      width: @width-fa-content-fasony;
      height: @height-fa-content-fasony;
      line-height: @height-fa-content-fasony;
      text-align: center;
      margin-right: @margin-right-footer-fasony;
      float: left;
    }
  }
  .nav-links{
    li{
      margin: @margin-right-footer-fasony 0px !important;
      list-style: none;
      a{
        color:@color-footer-fasony;
        text-decoration: none;
      }
      a:hover, a:focus{
        color: @color-hover-active-footer-fasony;
      }
    }
  }
  .newsletter{
    .form.subscribe{
      .actions{
        .action.subscribe{
          background: @color-hover-active-footer-fasony;
        }
      }
    }
  }
  .list-social{
    margin-top:@margin-top-link-social-fasony;
    padding-left: 0;
    li{
      vertical-align: top;
      display: inline-block;
      a{
        width: @width-fa-social-footer;
        height: @height-fa-social-footer;
        line-height: @height-fa-social-footer;
        border: 1px solid @border-top-color-copyright;
        color: @color-navigation-fasony;
        display: inline-block;
        zoom: 1;
        margin-left: @margin-left-social;
        font-size: @font-size-social;
        text-align: center;
        .fa{
          padding-left: @padding-left-social;
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
        }
      }
      a:hover {
        color: @color-hover-active-footer-fasony;
        .fa{
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
        }
      }
    }
  }
}

.footer{
  .content {
    ul{
      padding-right: 0;
    }
  }

}
.clear{
  clear:both;
  width: @width-clear-fasony;
}

//Copyright
.copyright{
  min-height: @min-height-copyright-fasony;
  line-height: @min-height-copyright-fasony;
  padding: @padding-copyright-fasony 0;
  color: @color-copyright-fasony;
  text-align: center;
  font-size: @font-size-navigation-fasony;
  font-family: @family-name-footer-fasony;
  max-width: @max-width-container__chung;
  margin: auto;
  background:  none;
  .page-main{
    border-top: 1px solid @border-top-color-copyright;
    padding-top: @padding-top-copyright;
  }
  .pull-right{
    img{
      vertical-align: middle;;
    }
  }
}

//Search  Customer
.custom-group {
  float: right;
  border-right: 1px solid @border-right-search !important;
  position: relative;
  max-width: @max-width-search-dropdown-fasony;
  margin-top: @margin-top-dropdown-search;
  a.toggle{
    .fa{
      font-size: @font-size-social;
      color: @color-navigation-fasony;
      float: right;
    }
    .fa:hover {
      >.dropdown-menu{
        display: block;
      }
    }
  }
  .dropdown-menu{
    position: absolute;
    padding: @padding-drop-menu-fasony;
    border-radius: 0px !important;
    right: 0 !important;
    left: auto !important;
    top: 100%;
    z-index: 1000;
    min-width: 160px;
    background-color: @color-footer-fasony-block-title;
    border: 1px solid @border-drop-menu-fasony;
    border-radius: @border-radius-drop-menu;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    display: none;
  }
}
.open > .dropdown-menu {
  display: block;
}

.block-search{
  .control {
    border-top: 0;
    margin: 0;
    padding: 0 0;
    border: solid 2px @border-page-title-about-us;
    border-radius: 3px;

  }
  input{
    max-width: @max-width-block-search-fasony;
    border: none;
  }
  .action.search:before{
    font-size: @font-size-block-search-action-search;
    padding-right: @padding-right-action-search;
  }
  .action.search{
    padding: @padding-up-action-search @padding-right-action-search 0 0;
  }
}

//Customer Fasony
.ves-massbottom {
  margin-bottom: @margin-bottom-our-service-fasony;
  background: @background-color-our-service-fasony;
  .static-block{
    padding: @padding-up-down-fasony 0;
    text-align: center;
    color: @color-our-service-fasony;
    .fa{
      font-size: @font-size-fa-our-service;
      background: @background-fa-our-service;
      padding: @margin-top-footer @padding-left-right-fa-our-service;
      color: @color-fa-our-service;
    }
    >h2{
      font-size: @font-size-social;
      font-weight: @font-size-title-our-service;
      color: #9f9f9f;
      font-family: @font-family-navigation-fasony;
      margin: @padding-top-copyright 0 0;
    }
    >p{
      font-family: @family-name-footer-fasony;
      font-size: @font-size-footer-fasony;
    }
  }
  .bg-color{
    background: @background-color-our-service;
  }
  .static-block:hover{
    .fa{
      background: @color-hover-active-footer-fasony;
      color: @color-navigation-fasony;
    }
  }
  .static-block:focus
  {
    .fa {
      background: @color-hover-active-footer-fasony;
      color: @color-navigation-fasony;
    }
  }
}

.ves-massbottom1 {
  background: @background-testimonial-fasony;
  margin-bottom: @padding-up-down-fasony;
  background-size:100% 100%;
  .container{
    max-width: @max-width-header-fasony;
    margin: auto;
    padding: @padding-top-copyright 0px;
  }
  .ves-testominial{
    .testominial{
      text-align: center;
      padding: @padding-up-down-fasony @padding-up-down-fasony @padding-up-down-fasony @padding-left-text-testimonial-fasony;
      position: relative;
      margin: 0 auto;
      max-width: 70%;
      &:before{
        position: absolute;
        left: 30px;
        top: 20px;
        background: @background-text-testimonial-fasony;
        width: @width-text-testimonial;
        height: @height-text-testimonial;
        content: "";
      }
      p{
        font-size: @font-size-block-title-news-product;
        font-weight: @font-weight-text-category-main;
        font-family: @family-name-footer-fasony;
      }
      h3{
        font-size: @font-size-navigation-fasony;
        font-family: @font-family-navigation-fasony;
        font-weight: @font-weight-text-category;
        text-transform: uppercase;
      }
    }
  }
}

//Testiminial Fasony
.wap_margin_fasony{
  max-width: @max-width-header-fasony;
  margin: auto;
  .block-title{
    text-align: center !important;
    font-size: @font-size-block-title-testi;
    font-family: @font-family-navigation-fasony;
    position: relative;
    font-weight: @font-weight-fasony;
    padding: @padding-up-down-testi @padding-left-right-testi;
    border-bottom:none !important;
    >strong{
      font-size: @font-size-block-title-testi !important;
    }
    &:before{
      background: @background-block-title-fasony !important;
      bottom: @bottom-block-title-fasony;
      content: "";
      height: @height-block-title-fasony;
      left: 0;
      right: 0;
      position: absolute;
      width: @width-h2-text-category;
      margin: 0 auto;
    }
  }
}

//Testimonial
.ves-massbottom1{
  .block{
    .block-title {
      text-align: center;
      font-family:@font-family-navigation-fasony;
      position: relative;
      padding: @padding-up-down-testi @padding-left-right-testi;
      >strong{
        padding: 0;
        color: @background-block-title-fasony;
        font-size: @font-size-block-title-testi;
        font-weight: @font-weight-fasony;
        letter-spacing: 0;
      }
    }
    .block-title::before {
      background: @background-block-title-fasony;
      bottom: @bottom-block-title-fasony;
      content: "";
      height: @height-block-title-before-fasony;
      left: 0;
      right: 0;
      position: absolute;
      width: @width-block-title-before-fasony;
      margin: 0 auto;
    }
  }
}


.page-title-wrapper{
  max-width: @max-width-header-fasony;
  margin: auto;
  h1{
    font-size: @font-size-page-title-wrapper-product-detail;
    font-family: @font-family-navigation-fasony;
    margin-top: @magrin_category;
  }
}
//Category Fasony
.showcase {
  position: relative;
  margin-bottom: @magrin_category;
}

.showcase:before {
  content: "";
  width: 80%;
  height: 80%;
  background: @color-hover-active-footer-fasony;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.showcase .text-content {
  position: absolute;
  top: 30%;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.showcase .text-content h2 {
  text-transform: uppercase;
  font-family: @font-family-navigation-fasony;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.showcase .text-content p {
  font-family: @family-name-footer-fasony;
  font-weight: 300;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.showcase:hover .text-content p, .showcase:focus .text-content p,.showcase:hover .text-content a, .showcase:focus .text-content a {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.showcase:hover .text-content,.showcase:focus .text-content {
  top: 15%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.showcase .text-content a:hover, .showcase .text-content a:focus {
  background: #333;
  border-color: #333;
}
.showcase:hover:before,.showcase:focus:before {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.showcase:before {
  content: "";
  width: 80%;
  height: 80%;
  background: #c99947;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.showcase:hover .text-content, .showcase:focus .text-content {
  top: 15%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.showcase:hover .text-content h2:after,.showcase:focus .text-content h2:after {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.showcase .text-content h2:after {
  position: absolute;
  width: 30px;
  height: 2px;
  content: "";
  background: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.showcase .text-content a {
  font-family: @font-family-navigation-fasony;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  text-decoration: none;
}
.showcase img{
  width: 100%;
  display: block;
}
.ves-slideshow{
  margin-top: @margin_top-ves-slideshow;
}
.ves-showcase .bg-custom:before{
  background: @color-hover-category-home;
}

//Custom group
.ves-header{
  max-width: @max-width-header-fasony-edit;
  margin: auto;
  position: relative;
  z-index: 10;
  .custom-group {
    float: right;
    border-right: 1px solid @border-custom-group-ves!important;
    min-height: @max_height-custom-group;
    padding-right: @margin-right-text-a-category;
    padding: 0 @padding-custom-group;
    .action.toggle {
      padding: @margin-bottom-category-fasony @margin-top-page-title-about-us !important;
      color: @color-our-service-fasony;
      .fa{
        font-size: 14px;
        color: @color-our-service-fasony;
        &:hover{
          color: @color-hover-active-footer-fasony;
        }
      }
    }
    .dropdown-menu{
      padding: @padding-drop-menu-fasony;
      border-radius: 0;
      right: 0 !important;
      left: auto !important;
    }
  }
  .custom-logo {
    text-align: center;
  }
}

//Setting header
.page-header{
  .header-links{
    .options ul.dropdown{
      position: absolute;
      min-width: @min-width-header-links;
      margin-top: @margin-top-header-links;
      border: solid 1px @border-header-links;
      z-index: 100;
      box-sizing: border-box;
      top: 100%;
      background: @color-navigation-fasony;
      /* margin: 0; */
      /* padding: 0; */
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
      padding-left: 0;
      li{
        border-bottom: 1px solid @border-page-title-about-us;
        list-style: none;
        padding:@padding-up-down_action @padding-bottom-toolbar;
        a{
          color: @color-our-service-fasony;
          font-size: @font-size-navigation-fasony;
          font-family: @family-name-footer-fasony;
        }
      }
      li:hover{
        background: @background-option-custom-hover;
        a{
          text-decoration: none;
          color: @color-hover-active-footer-fasony;
        }
      }
      li:last-child{
        border: 0px !important;
      }
    }
  }
}

//New Navigation
.navigation{
  display: none !important;
  .level0{
    .level-top{
      font-family: @font-family-navigation-fasony;
      font-size: @font-size-navigation-fasony;
      text-transform: uppercase;
      color: @color-navigation-fasony-edit !important;
      font-weight: @font-weight-text-category-main;
    }
    .submenu{
      top: 54px;
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .nav-sections-item-content {
    margin-top: 0px;
  }
}
//Back to top
.scrollup {
  background: @color-hover-active-footer-fasony;
  border-radius: 100%;
  bottom: 82px;
  color: @color-div-hover-custom-block !important;
  cursor: pointer;
  font-size: @font-size-p-custom-block;
  font-weight: @font-weight-fasony;
  line-height: 18px;
  padding: 2px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-transform: uppercase;
  z-index: 9999;
  width: @height-fa-custom-block;
  height: @width-fa-custom-block;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  &:hover{
    background: @background-block-title-fasony;
    text-decoration: none;
  }
  .fa{
    display: block;
  }
  span{
    font-family: @font-family-navigation-fasony;
    font-weight: 100;
  }
}

//Homepage
.cms-index-index{
  .page-main{
    max-width: 100%;
    padding: 0;
  }
}

//Breadcrumb
.breadcrumbs{
  strong{
    color: @_nav-level0-item__active__border-color;
  }
}

//2 column right
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .page-layout-2columns-right .column.main {
    width: @layout-column-right__left-width;
  }
  .page-layout-2columns-right .sidebar-main {
    width: @layout-column-right__right-width;
    float: right;
  }

  .sidebar-additional {
    #lib-layout-columns > .right();

  }
  .product-info-main{
    .box-tocart{
      .field.qty{
        padding-right: @padding-right-qty-product-detail;
        min-width: @min-width-qty-product-detail;
        display: inline-block;
        vertical-align: top;
        line-height: @max-height-add-cart;
        width: 100%;
      }
      .actions{
        display: inline-block;
        text-align: center;
        width: 70%;
      }
      .action.tocart{
        font-size: @font-size-navigation-fasony;
        text-transform:  uppercase;
      }
    }
    .product-options-bottom{
      .box-tocart{
        .field.qty{
          .label{
            float: left;
            padding-right: @margin-right-promise-sasa;
            display: none;
          }
          .control{
            float: left;
            width: 65%;
            >input{
              width: 100%;
            }
            >select{
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
    .product-social-links {
      margin: 0 0 20px;
      text-align: center;

      .action.tocompare {
        background-image: none;
        background: @background-button-product-addto-links;
        border: 1px solid @border-bottom-toolbar;
        color: @background-block-title-fasony;
        cursor: pointer;
        font-family: @family-name-footer-fasony;
        font-weight: @font-weight-fasony;
        margin: 0;
        padding: @padding-right-action-search @padding-right-qty-product-detail;
        font-size: 1.1rem;
        line-height: 1.6rem;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        text-transform: none;
      }
      .action.towishlist{
        background-image: none;
        background: @background-button-product-addto-links;
        border: 1px solid @border-bottom-toolbar;
        color: @background-block-title-fasony;
        cursor: pointer;
        font-family: @family-name-footer-fasony;
        font-weight: @font-weight-fasony;
        margin: 0;
        padding: @padding-right-action-search @padding-right-qty-product-detail;
        font-size: 1.1rem;
        line-height: 1.6rem;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        text-transform: none;
      }
    }
  }
}



//Icon Product detail
& when (@media-common = true) {
  .abs-actions-addto {
    .lib-css(color, @addto-color);
    display: inline-block;
    font-weight: @font-weight__semibold;
    letter-spacing: .05em;
    text-transform: uppercase;
    .lib-icon-font(
      @_icon-font-content: '',
      @_icon-font-size: 16px,
      @_icon-font-line-height: 16px,
      @_icon-font-margin: -2px 5px 0 0,
      @_icon-font-vertical-align: middle
    );

    &:hover {
      .lib-css(color, @addto-hover-color);
      text-decoration: none;
    }

    &:before {
      width: 0px;
      display: none;
    }
  }
}

@media screen and (min-width: @screen__m) {
  .checkout-index-index {
      .logo{
        margin: -15px auto 22.5px 0;
      }
    .opc-progress-bar{
      margin: 20px 0px 18px;
    }
    #ves-header{
      display: none;
    }
    .item-options{
      display: none;
    }
  }
}

//About Fasony
@media screen and (min-width: @screen__m) {
  .custom-page{
    .a-center {
      text-align: center;
      img{
        width: 100%;
      }
      h3{
         font-size: @font-size-fa-our-service;
      }
    }
    .page-title{
      text-align: center;
      margin-top: @margin-top-link-social-fasony;
      border-bottom: 1px solid @border-page-title-about-us;
      padding-bottom: @padding-bottom-custom-block;
      margin-bottom: @margin-bottom-category-fasony;
      h1{
        font-size: @font-size-page-title-about-us;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: @font-weight-text-category;
      }
    }
    .col-sm-4 {
      width: @width-fasony-col-4;
      display: inline-block;
      vertical-align: top;
    }
    .custom-service{
      .fa{
        font-size: @width-fa-content-fasony;
        color: @color-hover-active-footer-fasony;
        margin: 20px 0 10px;
        text-align: center;
      }
      h4{
        font-size: @font-size-text-category;
      }
    }
    .col-sm-3 {
      width: @layout-column-right__right-width;
      float: left;
      h4{
        font-size: @font-size-text-category;
        a{
          &:hover{
            text-decoration: none;
            color: @color-hover-active-footer-fasony;
          }
        }
      }
    }
  }
}

//Nav hompage

.ves-slideshow{
  .owl-controls{
    z-index: 999;
    position: absolute;
    top: @top-owl-controls__fasony;
    width: @width-content-category-fasony;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .owl-nav{
      > div{
        border: 1px solid @border-page-title-about-us;
        text-align: center;
        direction: rtl;
        cursor: pointer;
        position: absolute;
        left: 0;
        padding: @padding-up-down-slider__homepage @padding-left-right-slider__homepage;
      }
    }
  }
  .text-content{
    position: absolute;
    top: @top-item-action-product;
    left: @left-text-content-slideshow;
    color: @color-navigation-fasony;
    z-index: 999;
    h2{
      font-family: @font-family-navigation-fasony;
      font-weight: @font-weight-text-category;
      font-size: @font-size-text-content-slideshow;
    }
    p{
      font-family: @family-name-roboto-regular;
      font-weight: 300;
      font-size: @font-size-text-category;
      padding: 20px 0 30px;
    }
    a{
      font-family: @font-family-navigation-fasony;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: @margin-right-promise-sasa;
      border: 1px solid @color-navigation-fasony;
      color: @color-navigation-fasony;
      padding: 10px 30px;
      font-size: 12px;
      display: inline-block;
      text-decoration: none;
    }
  }
}
.ves-testominial{
  .owl-controls{
    z-index: 999;
    position: absolute;
    top: @top-owl-controls__fasony;
    width: @width-content-category-fasony;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .owl-nav{
      > div{
        border: 1px solid @border-page-title-about-us;
        text-align: center;
        direction: rtl;
        cursor: pointer;
        position: absolute;
        left: 0;
        padding: @padding-up-down-slider__homepage @padding-left-right-slider__homepage;
      }
    }
  }
}

.ves-massbottom1{
  .owl-nav{
    z-index: 999;
    position: absolute;
    top: @top-owl-controls__fasony;
    width: @width-content-category-fasony;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .owl-prev{
        border: 1px solid @border-page-title-about-us;
        text-align: center;
        direction: rtl;
        cursor: pointer;
        position: absolute;
        left: 0;
        padding: @padding-up-down-slider__homepage @padding-left-right-slider__homepage;

    }
    .owl-next{
      right: 0;
      left: auto;
    }
  }
}
.category-about-us{
  .columns{
    display: none;
  }
}

//Blush rgba
.blurred-background{
  background: @background-rgba-blurred__customer;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9;
  top: 0;
  position: fixed;
}

//Responsive 768
@media screen and (max-width: @screen__m){
  .logo{
    max-width: 100%;
    margin: 10px 0px 9px 0px !important;
  }
  .page-header{
    max-height: 66px;
  }
  .ves-header{
    width: @width-margin-auto-responsive-768 !important;
  }
  .navigation{
    .level0{
      > .level-top{
        padding: 0 5px;
      }
    }
  }
  .col-md-7{
    width: @width-col-md-7-768;
    float: left;
  }
  .wap_margin_fasony{
    width: @width-margin-auto-responsive-768;
  }
  .ves-showcase{
    .col-lg-33{
      width: @width-col-lg-33-768;
    }
    .col-lg-66{
      width: @width-col-md-7-768;
    }
  }
  .showcase{
    .text-content{
      h2{
        font-size: @font-size-text-content-h2-768;
      }
      p{
        font-size: @font-size-text-content-p-768;
      }
      a{
        padding: 5px 15px;
      }
    }
  }
  .row.custom-footer{
    width: @width-margin-auto-responsive-768;
    margin: auto;
  }
  .cms-index-index{
    .footer{
      .page-main{
        width: @width-margin-auto-responsive-768;
      }
    }
  }
  .products-list{
    .product-image{
      width: @width-product-images-768 !important;
    }
    .product-item-details{
      .product-item-name{
        a{
          font-size:  @font-size-product-name-768;
        }
      }
    }
  }
}

//Responsive 640
@media screen and (max-width: @screen__s){
  .page-header{
    background: @background-page-head;
    .ves-header{
      width: 100% !important;
    }
    .col-md-7{
      width: @width-col-md-7-640;
    }
  }
  .logo {
    margin: 10px 0 9px 65px !important;
    max-width: 100%;
  }
  .nav-toggle{
    &:before{
      color: @color-navigation-fasony;
    }
  }
  .row.custom-footer{
    width: @width-margin-auto-responsive-768;
    margin: auto;
  }

  .page-footer{
    .col-lg-4{
      width: @width-col-lg-4-640;
      display: inline-block;
      vertical-align: top;
    }
  }

  .copyright{
    .page-main{
      width: @width-margin-auto-responsive-768;
      margin: auto;
      .pull-right{
        float: left;
      }
    }
  }
  .ves-massbottom{
    width: 100%;
    .col-lg-4{
      //width: @width-col-lg-4-640;
      display: inline-block;
      vertical-align: top;
    }
  }
  .navigation{
    .level0{
      > .level-top{
        padding: 8px 5px;
      }
    }
  }
  .ves-slider{
    .text-content{
      display: none;
    }
  }
  .ves-slideshow{
    margin-top: -28px;
  }
  .columns{
    .column.main{
      width: 100%;
    }
  }
  .ves-showcase{
    .col-lg-33{
      width: @width-col-md-33-640;
      float: left;
      margin-left: 10px;
      &:nth-child(1){
        //margin-left: 10px;
      }
    }
    .col-lg-66{
      width: 100%;
      clear: both;
    }
  }
  .sidebar{
    display: none;
  }
  .page-title{
    text-align: center;
    margin-top: @margin-top-link-social-fasony;
    border-bottom: 1px solid @border-page-title-about-us;
    padding-bottom: @padding-bottom-custom-block;
    margin-bottom: @margin-bottom-category-fasony;
    h1{
      font-size: @font-size-page-title-about-us;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: @font-weight-text-category;
    }
  }
  .custom-service{
    text-align: center;
    .fa{
      font-size: @width-fa-content-fasony;
      color: @color-hover-active-footer-fasony;
      margin: 20px 0 10px;
      text-align: center;
    }
    h4{
      font-size: @font-size-text-category;
    }
  }
  .custom-page{
    .col-sm-3{
      text-align: center;
    }
  }
  .menu{
    >ul{
      position: absolute !important;
      max-width: 350px;
      >li{
        &:hover{
          background: @color-hover-active-footer-fasony !important;
        }
      }
    }
  }
}

@media screen and (max-width: @screen__xs){
  .minicart-wrapper{
    .action.showcart{
      padding-top: 0;
    }
  }
  .ves-showcase{
    .col-lg-33{
      width:  @width-col-lg-33-480;
      margin-left: 0;
    }
  }
  .col-xs-7{
    display: none;
  }
  .page-footer{
    .col-lg-4{
      width: @width-col-md-7-768;
    }
  }
  .ves-massbottom{
    .col-lg-4{
      width: 100%;
    }
  }
  .menu{
    >ul{
      left: 0;
    }
  }
}

//Responsive 320
@media screen and (max-width: @screen__xxs){
  .col-md-7{
  }
}

//Css News
.content_find_size{
   width: 100%;
   height: 30px;
   clear: both;
   a{

   }
 }

.catalog-product-view{
   background: @background-product-detail;
}

//Thumb Gallery
.fotorama__nav--thumbs{
  display: none;
}

//Reinsurance Block
@media screen and (min-width: @screen__m) {
  .reinsurance-block{
    display: none;
  }
}
@media screen and (max-width: @screen__m) {
  .reinsurance-block {
    width: @width-margin-auto-responsive-768;
    margin: auto;
    display: block;
    .content-asset {
      ul {
        li {
          float: left;
          width: @width-col-sm-2;
          text-align: center;
          list-style: none;
          span.icon-other {
            margin-bottom: @margin-bottom-page-title-fasony;
            &:before {
              background: @background-reinsurance-fasony;
              width: 30px;
              content: '';
              display: inline-block;
              vertical-align: top;
              height: @height-reinsurance__fasony;
              -webkit-transition: background .2s linear;
              -moz-transition: background .2s linear;
              -ms-transition: background .2s linear;
              transition: background .2s linear;
            }
          }
          span.icon-other.swiss-made {
            &:before {
              width: 35px;
              background-position: 0 0px;
            }
          }
          span.icon-other.return {
            &:before {
              width: 38px;
              background-position: -36px -2px;
            }
          }
          span.icon-other.shipment {
            &:before {
              width: 64px;
              background-position: -73px 0;
            }
          }
          span.icon-other.swatch {
            &:before {
              width: 27px;
              background-position: -137px 0;
            }
          }
          span.icon-other.guarantee {
            &:before {
              width: 37px;
              background-position: -165px 0;
            }
          }
          span.icon-other.feedback {
            &:before {
              width: 34px;
              background-position: -203px 0;
            }
          }
          a {
            display: block;
            span {
              display: block;
            }
            &:hover {
              color: @background-a-reinsurance;
              text-decoration: none;
              span.swiss-made {
                &:before {
                  background-position: 0 -33px;
                }
              }
              span.icon-other.return {
                &:before {
                  width: 38px;
                  background-position: -36px -32px;
                }
              }
              span.icon-other.swatch {
                &:before {
                  background-position: -137px -33px;
                }
              }
              span.icon-other.feedback {
                &:before {
                  background-position: -203px -33px;
                }
              }
              span.icon-other.shipment {
                &:before {
                  background-position: -73px -32px;
                }
              }
              span.icon-other.guarantee {
                &:before {
                  background-position: -165px -33px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: @screen__600){
  .reinsurance-block{
    .content-asset{
      ul{
        li{
          width: @width-col-sm-4;
          margin-top: @margin-top-footer;
        }
      }
    }
  }
  .page-title-wrapper{
    width: @width-page-title-wrapper__600;
    float: left;
  }
}

@media screen and (max-width: @screen__500){
  .reinsurance-block{
    .content-asset{
      ul{
        li{
          width: @width-col-sm-4;
          margin-top: @margin-top-footer;
        }
      }
    }
  }
  .ves-showcase {
    .col-lg-33 {
      margin-left: 8px;
    }
  }
  .minicart-wrapper{
    .action.showcart{
      padding-top: 0;
    }
  }
}

@media screen and (max-width: @screen__400){
  .reinsurance-block{
    .content-asset{
      ul{
        li{
          width: @width-fasony-col-6;
          margin-top: @margin-top-footer;
        }
      }
    }
  }
}

@media screen and (min-width: @screen__xxs){
  .reinsurance-block{
    .content-asset{
      ul{
        li{
          width: @width-fasony-col-6;
          margin-top: @margin-top-footer;
        }
      }
    }
  }
}

//Vigoss Effect
.left_effect_vigoss{
  width: @width-text-category-fasony;
  float: left;
}
.right_effect_vigoss{
 width: 65%;
  float: right;
}
.effect_zoom{
  a{
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    &:before{
      border: 1px solid #fff;
      bottom: 20px;
      content: "";
      left: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity .35s ease 0s;
      -o-transition: opacity .35s ease 0s;
      transition: opacity .35s ease 0s;
      -webkit-transition: -webkit-transform .35s ease 0s;
      -moz-transition: -moz-transform .35s ease 0s;
      -o-transition: -o-transform .35s ease 0s;
      transition: transform .35s ease 0s;
    }
    &:hover{
      img{
        opacity: .8;
        filter: alpha(opacity=80);
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
      }
      &:before{
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    img{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: opacity .35s ease 0s;
      -o-transition: opacity .35s ease 0s;
      transition: opacity .35s ease 0s;
      -webkit-transition: -webkit-transform .35s ease 0s;
      -moz-transition: -moz-transform .35s ease 0s;
      -o-transition: -o-transform .35s ease 0s;
      transition: transform .35s ease 0s;
      width: 100%;
    }
  }
}

//Email box advance
.signup--modal {
  position: fixed;
  bottom: @bottom-box-email__fasony;
  left: 0;
  right: 0;
  min-height: @min-height-box-email__fasony;
  z-index: 99;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),-webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
  background: @background-box-email__fasony;
  color: @color-navigation-fasony;
  .signup__content{
    position: relative;
    z-index: 2;
    padding: @padding-left-text-testimonial-fasony;
    .signup__close{
      width: @width-signup__close__fasony;
      height: @height-signup__close__fasony;
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      z-index: 102;
      .fa.fa-times{
        width: 28px;
        padding-top: 28px;
        height: 0;
        overflow: hidden;
        position: absolute;
        left: 8px;
        top: 8px;
        display: block;
        &:before{
          width: 28px;
          height: 3px;
          position: absolute;
          margin-top: -1.5px;
          left: 0;
          top: 50%;
          content: "";
          background: #111;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:after{
          width: 28px;
          height: 3px;
          position: absolute;
          margin-top: -1.5px;
          left: 0;
          top: 50%;
          content: "";
          background: #111;
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }
      }
    }
    .align-center {
      text-align: center;
      margin-top: 1.3125em;
      font-size: @font-size-email-sign-up__fasony;
      .grid__8{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        .heading--2 {
          font-size: @font-size-custom-service-fa;
          line-height: 32px;
          font-family: Lyon Text Web,Times New Roman,Georgia,"serif";
        }
      }
      .grid__6{
        .form.subscribe{
          max-width: 580px;
          margin: auto;
          margin-top: 10px;
          .field.newsletter{
            .control{
              input{
              }
            }
          }
          .actions{
            margin-top: 10px;
          }
        }
      }
    }
  }
}

//Email Popup
.dialogBg.popupid1{
  padding-top: 5%;
  background: @background-popup__fasony;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
  height: 100%;
  position: fixed;
  .mbdialog.popupid1 {
    width: 100%;
    max-width: @max-width-popup__fasony;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 0;
    position: relative;
    .dialogClose.style3 {
      background: @background-close-email-fancybox__fasony;
      top: 0;
      right: 0;
      position: absolute;
      width: @width-button-close-popup__fasony;
      height: @height-button-close-popup__fasony;
      &:hover{
        background-position: 4px -17px;
      }
    }
    .dialogBody {
      background-color: @white;
      padding: @padding-block-filter;
      .logo_popup{
        text-align: center;
        img{
          max-width: 192px;
        }
      }
      .title_popup{
        font-size: @font-size-email-sign-up__fasony;
        text-align: center;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 1%;
        font-family: @font-family-navigation-fasony;
      }
      .content_popup{
        font-size: @font-size-block-title-footer-fasony;
        .form.subscribe{
          margin-top: 10px;
          .field.newsletter{
            .control{
              input{
                width: 70%;
                float: left;
                margin-right:  10px;
              }
            }
          }
        }
      }
    }
  }
}

.our_popup{
  background: @background-popup__fasony;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 98;
  height: 100%;
  position: fixed;
}