//  Fasony theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting
@page__background-color: @color-white;
@copyright__background-color: @color-gray56;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background


//Variable Extend Fasony
@background-option-custom-hover:#e8e8e8;
@border-header-links:#bbb;
@margin-top-header-links:4px;
@min-width-header-links:200px;
@max_height-custom-group:53px;
@border-custom-group-ves:#282828;
@margin_top-ves-slideshow:-10px;
@color-hover-action:#e1e1e1;
@padding-up-down_action:5px;
@background-action-product-detail:#eee;
@max-height-add-cart:45px;
@width-add-cart:28%;
@color-label-field-qty:#b5b5b5;
@width-label-fields-qty:90px;
@font-size-page-title-wrapper-product-detail: 35px;
@max-width-product-item-details:175px;
@width-product-image-list:36%;
@padding-bottom-toolbar:10px;
@border-bottom-toolbar:#CCC;
@font-size-block-title-news-product:16px;
@_nav-level0-item-background-color-hover:none;
@margin-col-lg-33:8px;
@width-col-lg-66:49%;
@width-col-lg-33:24%;
@page-title-wrapper-product-info:22px;
@font-size-page-title-wrapper:25px;
@padding-up-down-action:8px;
@padding-left-right-action:14px;
@font-size-action-primay:1.2rem;
@background-action-primary-product:#2f2f2f;
@top-item-action-product: 25%;
@left-text-content-slideshow: 17%;
@top-item-action-product-hover: 30%;
@color__team-about-us:#666;
@margin__bottom-col-xs-4:3%;
@margin-bottom-page-title-fasony:10px;
@font-size-page-title-about-us: 28px;
@width-col-sm-3:25%;
@font-size-custom-service-fa:30px;
@width-col-sm-2: 16.66666667%;
@width-col-sm-4: 33.33333333%;
@width-col-sm-7: 58.33333333%;
@padding-bottom-page-title-about-us:20px;
@border-page-title-about-us: #ddd;
@margin-top-page-title-about-us:20px;
@height-block-title-fasony:3px;
@top-text-content-category:30%;
@background-bg-custorm-fasony:#91d8e3;
@margin-right-text-a-category:10px;
@font-weight-a-text-category:400;
@font-weight-text-category-main:300;
@bottom-text-category-fasony:-10px;
@height-h2-text-category:2px;
@width-h2-text-category:30px;
@font-weight-text-category: 700;
@font-size-text-category:18px;
@width-text-category-fasony:30%;
@width-content-category-fasony:80%;
@margin-bottom-category-fasony:15px;
@width-block-title-before-fasony:30px;
@height-block-title-before-fasony:3px;
@bottom-block-title-fasony:5px;
@background-block-title-fasony:#333;
@color-fa-our-service:#9f9f9f;
@background-fa-our-service:#272727;
@font-size-fa-our-service: 24px;
@color-our-service-fasony:#666;
@padding-up-down-fasony: 40px;
@padding-left-text-testimonial-fasony: 50px;
@margin-bottom-our-service-fasony:20px;
@background-color-our-service-fasony:#111;
@font-size-navigation-fasony:12px;
@font-family-navigation-fasony: "Montserrat", sans-serif;
@color-navigation-fasony:#fff;
@width-fasony-col-3: 24%;
@width-fasony-col-4: 32.33%;
@width-fasony-col-6: 50%;
@color-footer-fasony-block-title: #fff;
@font-size-block-title-footer-fasony:14px;
@font-weight-block-title-footer-fasonys:400;
@family-name-footer-fasony: 'roboto-light';
@family-name-roboto-regular: 'Roboto-Regular';
@color-footer-fasony:#999;
@font-size-footer-fasony:12px;
@margin-top-footer:10px;
@border-fa-content-fasony:#454545;
@width-fa-content-fasony:30px;
@height-fa-content-fasony:30px;
@margin-right-footer-fasony:5px;
@color-hover-active-footer-fasony: #c99947;
@background-new-letter-footer:#2f2f2f;
@margin-top-link-social-fasony:30px;
@width-clear-fasony:100%;
@padding-copyright-fasony:30px;
@color-copyright-fasony:#999;
@border-top-color-copyright:rgba(255, 255, 255, 0.2);
@padding-top-copyright:20px;
@height-fa-social-footer:32px;
@width-fa-social-footer:32px;
@margin-left-social:2px;
@font-size-social:14px;
@padding-left-social:3px;
@border-right-search:#282828;
@padding-drop-menu-fasony:15px;
@border-drop-menu-fasony:#CCC;
@border-radius-drop-menu:4px;
@padding-search-fasony:25px;
@max-width-block-search-fasony:130px;
@max-width-search-dropdown-fasony:20px;
@margin-top-dropdown-search:0px;
@max-width-header-fasony:1280px;
@max-width-header-fasony-edit:1480px;
@background-color-our-service:#1a1a1a;
@font-size-title-our-service:14px;
@padding-left-right-fa-our-service:15px;
@font-size-block-title-testi:36px;
@font-weight-fasony:600;
@padding-up-down-testi:18px;
@padding-left-right-testi:20px;
@background-testimonial-fasony:url(../images/bg-01.jpg) center bottom no-repeat;
@background-text-testimonial-fasony: url(../images/bg-03.png) center bottom no-repeat;
@footer__background-color: #1e1e1e url(../images/bg-02.jpg) center bottom no-repeat;
@background-close-email-fancybox__fasony: url(../images/close_simple_dark.png) 4px 4px no-repeat;
@padding-up-down-action-primary:6px;
@padding-left-right-action-primary:12px;
@color-div-hover-custom-block: #fff;
@font-size-h3-custom-block:16px;
@font-size-p-custom-block:12px;
@margin-right-fa-custom-block:5px;
@height-fa-custom-block:40px;
@width-fa-custom-block:40px;
@font-size-fa-custom-block:20px;
@padding-bottom-custom-block:20px;
@white:#fff;
@magrin_category:15px;
@color-hover-category-home:#91d8e3;
@_nav-level0-item__active__border-color:#000;
@max-width-header-fasony-edit:1480px;
@color-navigation-fasony-edit:#b2b2b2;
@padding-custom-group:20px;
@font-size-block-search-action-search: 22px;
@padding-up-action-search:14px;
@padding-right-action-search:5px;
@margin-top-footer-info-img:30px;
@sidebar__background-color: #fff;
@max-width-container__chung: 1188px;
@max-height-head__fasony: 57px;
@background-page-head: #000;
@margin-right-promise-sasa: 10px;
@padding-block-filter: 10px;
@min-height-copyright-fasony: 30px;
@width-text-testimonial: 37px;
@height-text-testimonial: 33px;
@layout-column-right__left-width: 75%;
@layout-column-right__right-width: 25%;
@padding-right-qty-product-detail: 15px;
@min-width-qty-product-detail: 105px;
@background-button-product-addto-links: #eee;
@color__switcher_option_language: #888;
@padding-up-down-slider__homepage: 5px;
@padding-left-right-slider__homepage: 8px;
@top-owl-controls__fasony: 40%;
@font-size-text-content-slideshow: 48px;
@background-mark-shopping-cart__fasony: #fcf8e3;
@background-menu-hover__fasony: #f0f0f0;
@background-product-detail: #f4f4f4;
@background-rgba-blurred__customer: rgba(0,0,0,0.6);
@background-reinsurance-fasony:url(../images/sprite-other.png) no-repeat;
@height-reinsurance__fasony: 33px;
@background-a-reinsurance: #ea1a1a;
@width-icon-return-reinsurance: 38px;
@width-icon-shipment-reinsurance: 64px;
@background-box-email__fasony: #abcdd6;
@bottom-box-email__fasony: 300px;
@min-height-box-email__fasony: 250px;
@width-signup__close__fasony: 44px;
@height-signup__close__fasony: 44px;
@font-size-email-sign-up__fasony: 17px;
@font-family-signup-content__fasony: Lyon Text Web,Times New Roman,Georgia,"serif";
@background-popup__fasony: rgba(0, 0, 0, 0.65);
@max-width-popup__fasony: 954px;
@top-content-popup__fasony: 10%;
@width-button-close-popup__fasony: 35px;
@height-button-close-popup__fasony: 25px;

//Responsive Theme
@width-margin-auto-responsive-768: 95%;
@width-col-md-7-768: 49%;
@width-col-lg-33-768: 23%;
@font-size-text-content-h2-768: 14px;
@font-size-text-content-p-768: 12px;
@width-product-images-768: 25%;
@font-size-product-name-768: 7px;
@width-col-lg-4-640: 30%;@width-col-md-33-640: 48%;
@width-col-lg-33-480: 99%;
@bottom-checkout-header__fasony: 32px;
@color-shipping-info-label: #A8A8A8;
@color-shipping-info-delay: #ff5a5f;
@width-fieldset-fasony: 46%;
@width-col-md-7-640: 10%;
@width-col-md-7-320: 47%;
@min-width-mega-menu__desktop: 1600px;
@left-mega-menu__desktop: -24%;
@min-width-mega-menu-1440__desktop: 1585px;
@left-mega-menu-1440__desktop: -13.8%;
@min-width-ul-normal-sub__desktop: 300px;
@width-page-title-wrapper__600: 70%;
@width-product-info-price__600: 30%;
@margin-top-product-info-price__600: 4%;
@width-content-tab__500: 94%;
@screen__600: 600px;
@screen__500: 500px;
@screen__400: 400px;