.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-header{
     background: @background-page-head;
    max-height: @max-height-head__fasony;
    position: relative;
    .switcher {
      width: 100%;
      .selected{
        color: @_nav-level0-item__active__border-color;
        font-weight: @font-weight-text-category;
        padding-left: @padding-left-right-fa-our-service;
        text-transform: uppercase;
      }
      ul.sub-option{
        padding-left: @padding-left-right-fa-our-service;
        li{
          color: @color__switcher_option_language;
          font-weight: 400;
          text-transform: uppercase;
          list-style: none;
          padding-left: 0;
        }
      }
    }
  }
}

.page-footer {
  background-size: 100% 100%;
  .container{
    margin: auto;
    max-width: @max-width-container__chung;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-wrapper {
    > .breadcrumbs,
    > .top-container,
    > .widget {
      margin-top: @margin-top-footer;
    }

    .ie10 &,
    .ie11 & {
      height: 100%;
    }
  }
}

//Respnsive 640
@media screen and (min-width: @screen__s){
  .page-footer {
    background: @footer__background-color;
    margin-top: auto;
    padding-bottom: 22.5px;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: @screen__xs){
  .page-footer{
    background: @footer__background-color;
    margin-top: auto;
    padding-bottom: 22.5px;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: @screen__500){
  .page-footer {
    background: @footer__background-color;
    margin-top: auto;
    padding-bottom: 22.5px;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: @screen__600){
  .page-footer {
    background: @footer__background-color;
    margin-top: auto;
    padding-bottom: 22.5px;
    background-size: 100% 100%;
  }
  .minicart-wrapper .action.showcart{
    padding-top: 0;
  }
}