<div class="gr-col-5">
    <div class="opc-sidebar-fasony">
        <div class="shipping-info-box">
            <p class="shipping-info-label">Estimated arrival</p>
            <p class="shipping-info-desc">1 - 2 working days</p>
            <p class="shipping-info-delay">Due to overwhelming demand, there may be a short delay on shipping.</p>
            <p class="shipping-info-label">Returns &amp; Exchanges</p>
            <p class="shipping-info-desc">We accept returns within 30 days of delivery for a refund or free exchange when returned in a saleable condition with original packaging.</p>
            <p class="shipping-info-sale">Please note, all sale products are not able to be returned or exchanged.</p>
            <p></p>
        </div>
    </div>
    <div class="clear"></div>
</div>