& when (@media-common = true) {
  .filter {
    .block-subtitle {
      font-family: @family-name-roboto-regular;
      font-size: @font-size-h3-custom-block;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .filter {
    &.active &-options,
    &-options {
      padding: @padding-block-filter;
      box-sizing: border-box;
      /*margin-top: @margin-top-footer;*/
    }
  }
  .sidebar{
    .block{
      .block-title{
        border-bottom: 1px solid @border-page-title-about-us;
        padding: @padding-block-filter;
        strong{
          font-size: @font-size-block-title-news-product;
          font-family: @font-family-navigation-fasony;
          font-weight: bold;
        }
      }
    }
    .custom-block{
      padding: @padding-block-filter;
      box-sizing: border-box;
      .fa{
        border: 1px solid @color-hover-active-footer-fasony;
        color: @color-hover-active-footer-fasony;
        border-radius: 50%;
        font-size: @font-size-fa-custom-block;
        height: @height-fa-custom-block;
        line-height: @height-fa-custom-block;
        width: @width-fa-custom-block;
        float: left;
        margin-right: 5px;
        text-align: center;
      }
      h3{
        font-size: @font-size-block-title-news-product;
        cursor: pointer;
      }
      div:hover{
        .fa{
          background: @color-hover-active-footer-fasony;
          color: @color-navigation-fasony;
          border-color: @color-hover-active-footer-fasony;
        }
      }
      div{
        padding-bottom: @padding-bottom-custom-block;
      }
    }
  }

}