.form-login,
.form-shipping-address {
  .lib-css(margin-top, @checkout-shipping-address__margin-top);
  .lib-css(margin-bottom, @checkout-shipping-address__margin-top);
  .fieldset {
    .field {
      .label {
      }
    }
    .note {
    }
    .control{
      .select{
        border: solid 1px @border-page-title-about-us;
      }
    }
  }
}

//  Shopping cart sidebar and checkout sidebar totals
//  ---------------------------------------------

& when (@media-common = true) {
  .abs-sidebar-totals {
    border-top: 1px solid @border-color__base;
    padding-top: 10px;

    tbody,
    tfoot {
      .mark {
        background: @background-mark-shopping-cart__fasony;
      }

      .amount {

      }
    }

    .table-caption {
    }

    tbody tr:last-child td {
      padding-bottom: 19px;
    }

    .table-wrapper {
      margin-bottom: 0;
    }
  }
  .authentication-wrapper{
    button{
      span{
        color: @color-navigation-fasony;
      }
    }
  }
}

.checkout-header-customer{
  position: absolute;
  right: 0;
  color: @color-navigation-fasony;
  bottom: @bottom-checkout-header__fasony;
}

.gr-col-5{
  width: 100%;
  .shipping-info-box {
    border: 3px solid @border-page-title-about-us;
    padding: 25px;
  }
  .shipping-info-label {
    margin-bottom: 6px;
    color: @color-shipping-info-label;
    font-size: 1.4rem;
  }
  .shipping-info-desc {
    margin-bottom: 10px;
  }
  .shipping-info-delay {
    color: @color-shipping-info-delay;
    font-weight: bold;
  }
  .shipping-info-sale {
    color: @color-shipping-info-delay;
  }
}

.fieldset{
  > .field{
    margin: 0 9px 18px;
    width: @width-fieldset-fasony;
    display: inline-block;
    vertical-align: top;
  }
}