//News Product Sidebar 2 column right
.products-list{
  .product-image {
    float: left;
    width: @width-product-image-list;
    position: relative;
  }
  .product-item-details{
    float: left;
    margin-left: 0 !important;
    max-width: @max-width-product-item-details;
    text-align: left;
  }
  .product-item-actions{
    .actions-secondary{
      display: none;
    }
  }
}

.sidebar-additional{
  .empty{
    padding: 10px;
    box-sizing: border-box;
  }
}

//News Product List Product Detail
.sidebar{
  .product-items{
    .product-item{
      margin-bottom: 20px;
      position: relative;
    }
    .list.products-list .product-image {
      float: left;
      width: 36%;
      position: relative;
    }

  }
  .block{
    border:  solid 1px @border-page-title-about-us;
  }
}

//Toolbar Product
.toolbar {
  border-bottom: 1px solid @border-bottom-toolbar;
  padding-bottom: @padding-bottom-toolbar;
}


& when (@media-common = true) {
  .product{
    &-item{
      &-details{
        text-align: center;
      }
      &-name{
        font-family: @font-family-navigation-fasony;
        text-transform:  uppercase;
        font-weight: @font-weight-text-category;
        a{
          color: @color__team-about-us !important;
          font-family: @font-family-navigation-fasony;
          font-family: @font-family-navigation-fasony;
          &:hover{
            color: @color-hover-active-footer-fasony !important;
            text-decoration: none;
          }
        }
      }
    }
  }
  .toolbar{
    select{
      border:  solid 1px @border-page-title-about-us;
    }
  }
}

//Action Catalog product
.block.widget{
  .product-item-info{
    .product-image{
      .product-item-actions{
        position: absolute;
        top: @top-item-action-product;
        text-align: center;
        margin: 0 auto;
        z-index: 99;
        left: 0;
        right: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        visibility: hidden;
        -webkit-transition: opacity 0.35s ease 0s;
        -o-transition: opacity 0.35s ease 0s;
        transition: opacity 0.35s ease 0s;
        .actions-secondary{
          a{
            background: @background-action-primary-product;
            border-color: @background-action-primary-product;
            font-size: 1.2rem;
            padding: 7px 15px;
            border-radius: 0;
            display: block;
            display: inline-block;
            vertical-align: middle;
            &:hover{
              background: @color-hover-active-footer-fasony;
              border: @color-hover-active-footer-fasony;
              color: @color-div-hover-custom-block;
            }
            span{
              position: relative;
            }
          }
        }
      }
    }
    &:hover, &:focus{
      .product-item-actions{
       /* max-width: @max-width-block-search-fasony;*/
        top: @top-item-action-product-hover;
        -webkit-transition: opacity 0.35s ease 0s;
        -o-transition: opacity 0.35s ease 0s;
        transition: opacity 0.35s ease 0s;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        visibility: visible;
      }
    }
  }
}
.products.list.items.product-items{
  .product-item-info{
    .product-image{
      .product-item-actions{
        position: absolute;
        top: @top-item-action-product;
        text-align: center;
        margin: 0 auto;
        z-index: 99;
        left: 0;
        right: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        visibility: hidden;
        -webkit-transition: opacity 0.35s ease 0s;
        -o-transition: opacity 0.35s ease 0s;
        transition: opacity 0.35s ease 0s;
        .actions-secondary{
          a{
            background: @background-action-primary-product;
            border-color: @background-action-primary-product;
            font-size: 1.2rem;
            padding: 7px 15px;
            border-radius: 0;
            display: block;
            display: inline-block;
            vertical-align: middle;
            &:hover{
              background: @color-hover-active-footer-fasony;
              border: @color-hover-active-footer-fasony;
              color: @color-div-hover-custom-block;
            }
          }
        }
      }
    }
    &:hover, &:focus{
      .product-item-actions{
        /*max-width: @max-width-block-search-fasony;*/
        top: @top-item-action-product-hover;
        -webkit-transition: opacity 0.35s ease 0s;
        -o-transition: opacity 0.35s ease 0s;
        transition: opacity 0.35s ease 0s;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        visibility: visible;
      }
    }

  }
}
.swatch-option{
  min-width: @width-fa-content-fasony !important;
  height: @height-fa-content-fasony !important;
  border-radius: 50%;
  padding: 0;
  .text{
    height: @min-height-copyright-fasony;
    width: @min-height-copyright-fasony;
    line-height: @min-height-copyright-fasony;
    padding: 0;
  }
  &:not(.disabled){
    &:hover{
      outline: solid 1px @background-product-detail !important;
      border: solid 1px @background-product-detail !important;
    }
  }
  .selected{
    outline: solid 1px @background-product-detail !important;
    border: solid 1px @background-product-detail !important;
  }
}
.swatch-option.text{
  padding: 0;
}

@media screen and (min-width: @screen__s){
  .product-item-actions{
    display: block;
  }
}

//Css New Class Product Detail
.product.info.detailed1 {
  clear: both;
  display: block;
  /*min-width: @min-width-mega-menu-1440__desktop;*/
  background: @white;
}

@media screen and (min-width: @screen__600){
  .product-info-main{
    .product-info-price{
      width: @width-product-info-price__600;
      float: right;
      margin-top: @margin-top-product-info-price__600;
    }
  }
  .swatch-attribute.color{
  }
  .swatch-attribute.size{
    float: left;
  }
  .fieldset{
    > .field{
      float: right;
    }
  }
  .box-tocart{
    .fieldset{
      >.field{
        >.label{
          display: none;
        }
      }
      >.control{
        .input-text.qty{
          width: 100%;
        }
      }
    }
  }
}
